@media screen and (min-width: 768px) {
    .container {
        padding: 1rem 4rem;
    }

    .main-header .container .brand {
        width: 100%;
        max-width: 10rem;
        height: auto;
    }

    .main-header .container .cta {
        font-size: 1.15rem;
    }

    main .shirts .shirt svg {
        width: 15rem;
        height: 15rem;
    }

    main .shirts-info .initial-text .title {
        font-size: 3em;
    }

    main .shirts-info .container {
        padding-top: 6rem;
        grid-template-columns: repeat(3, 1fr);
    }

    main .shirts-info .shirt-info {
        font-size: 3rem;
    }
    
    .main-footer .blablalab-logo:hover {
        filter: brightness(10%)
    }
}