@media screen and (min-width: 768px) {
    .container {
        padding: 1rem 4rem;
    }

    .main-header .container .brand {
        width: 100%;
        max-width: 15rem;
        height: auto;
    }

    .main-header .container .cta {
        font-size: 1.8rem;
    }

    main .shirts-info .initial-text .title {
        font-size: 4rem;
    }

    main .shirts-info .shirt-info {
        min-width: 22rem;
        gap: 1rem;
        font-size: 3.2rem;
    }
    
    .main-footer .blablalab-logo:hover {
        filter: brightness(10%)
    }
}