@media screen and (min-width: 768px) {
    .container {
        padding: 1rem 4rem;
    }

    .main-header {
        z-index: 999;
    }

    .main-header .container .brand {
        width: 100%;
        max-width: 15rem;
        height: auto;
    }

    .main-header .container .menu .menu-item {
        padding: .8rem 1rem;
    }

    .main-header .container .menu .menu-item svg {
        width: 2.4rem;
        height: 2.4rem;
    }

    main .question {
        padding: 6rem 0;
    }

    main .question .title {
        font-size: 4rem;
    }
    
    main .shirts-container .item-space {
        margin-right: calc(50vw - 22rem);
    }
    
    main .shirts-container .shirt {
        max-width: 100%;
    }

    main .shirts-container .shirt .content {
        min-height: 36rem;
    }

    main .shirts-container .shirt .header {
        font-size: 2.8rem;
    }

    main .shirts-container .shirt .header button {
        font-size: 2.6rem;
    }

    main .shirts-container .shirt .infos {
        padding: 1rem;
    }

    main .shirts-container .shirt .infos .brand {
        font-size: 3rem;
    }
    
    main .shirts-container .shirt .infos .price {
        font-size: 2rem;
    }
    
    main .shirts-container .shirt .infos .price span {
        font-size: 3rem;
    }

    main .shirts-container .shirt svg.shirt-svg {
        width: 20rem;
        height: 20rem;
    }

    .main-footer {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    main #saiba-mais .content {
        min-width: 60rem;
        max-width: 60rem;
        min-height: 55vh;
    }
}

@media screen and (min-width: 1024px) {
    main .shirts-container .shirt svg.shirt-svg {
        width: 26rem;
        height: 26rem;
    }

    .main-footer .blablalab-logo:hover {
        filter: brightness(10%)
    }
}