.wrapper {
    position: relative;
    min-height: 100vh;
}

.main-header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-header .container .brand {
    width: 100%;
    max-width: 7rem;
    height: auto;
}

.main-header .container .cta {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--primary);
}

.main-footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    padding: 1rem 0;
    left: 0;
    bottom: 0;
}

.main-footer .blablalab-logo {
    width: 6rem;
    height: 4rem;
    background-image: url('../assets/blablalab.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding: 5.4rem 0;
}

main .shirts-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

main .shirts-container .line {
    position: absolute;
    top: 1.2rem;
    left: 0;
    width: 100%;
    min-width: 100vw;
    min-width: 20rem;
    height: 3px;
    background: var(--primary);
}

main .shirts-container .shirts {
    position: relative;
    overflow: hidden;
    min-width: 100%;
    min-height: 20rem;
    -webkit-transition: margin-left .1s ease;
    -o-transition: margin-left .1s ease;
    transition: margin-left .1s ease;
}

main .shirts-container .shirts .line {
    position: absolute;
    top: 0;
}

main .shirts-container .shirts .shirt {
    position: absolute;
}

main .shirts-container .shirts .shirt svg {
    width: 20rem;
    height: 20rem;
}

main .shirts-container .warning {
    text-align: center;
    text-transform: uppercase;
    color: var(--primary);
}

main .shirts-info {
    text-align: center;
}

main .shirts-info svg {
    padding: 2rem 0;
}

main .shirts-info .initial-text {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 2rem 0;
    color: var(--primary);
}

main .shirts-info .initial-text .title {
    font-size: 2em;
}

main .shirts-info .initial-text .title strong{
    font-weight: bold;
}

main .shirts-info .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 6rem 0;
}

main .shirts-info .shirt-info {
    flex: 1 0 auto;
    display: none;
    flex-direction: column;
    gap: .4rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--gray);
}

main .shirts-info .shirt-info.active {
    display: flex;
    color: var(--primary);
}