.wrapper {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

.main-header {
    position: relative;
    /* padding: .5rem 0; */
    border-bottom: 2px solid var(--primary);
}

.main-header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    padding: unset;
    padding-left: 2em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-header .container .brand {
    width: 100%;
    max-width: 12rem;
    height: auto;
}

.main-header .container .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-header .container .menu .menu-item {
    border: 2px solid var(--primary);
    border-top: none;
    border-bottom: none;
    padding: .8rem 1rem;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.main-header .container .menu .menu-item svg {
    width: 2rem;
    height: 2rem;
}

.main-header .container .menu .menu-item svg path {
    fill: var(--primary);
}

.main-header .container .menu .menu-item:hover {
    background: var(--primary);
}

.main-header .container .menu .menu-item:hover svg path {
    fill: var(--light);
}

main .question {
    padding: 5rem 0;
    text-align: center;
    color: var(--primary);
}

main .question .title {
    font-size: 3.2rem;
}

main .question .title strong {
    font-weight: bold;
}

main .shirts-container {
    max-height: 50rem;
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
}

main .shirts-container .item-space {
    margin-right: var(--margin-middle-shirts);
}

main .shirts-container .shirt {
    position: relative;
    min-width: 30rem;
    max-width: 30rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

main .shirts-container .shirt:nth-last-child(1),
main .shirts-container .shirt:nth-last-child(2) {
    min-width: auto;
    max-width: 2rem;
    visibility: hidden;
    margin-right: 0!important;
}

main .shirts-container .shirt .content .body {
    width: 100%;
    border: 2px solid var(--primary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--light);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

main .shirts-container .shirt.active-shirt .content .body {
    background-color: var(--light-gray);
}

main .shirts-container .shirt svg.shirt-svg {
    fill: var(--light);
}

main .shirts-container .shirt .content .body,
main .shirts-container .shirt .header,
main .shirts-container .shirt .reviews {
    max-width: 30rem;
}

main .shirts-container .shirt .header,
main .shirts-container .shirt .infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

main .shirts-container .shirt .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2.2rem;
    width: 100%;
    max-width: 100%;
    color: var(--primary);
    border-top: 2px solid var(--primary);
    border-left: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
}

main .shirts-container .shirt .header .order-id {
    height: 100%;
    border-right: 2px solid var(--primary);
    padding: 1.8rem;
}

main .shirts-container .shirt .header .brand {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 2.4rem;
    word-wrap: break-word;
    padding: 0 2rem;
}

main .shirts-container .shirt .infos {
    width: 100%;
    gap: 1rem;
    height: 8rem;
    border-top: 2px solid var(--primary);
    color: var(--primary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--light);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

main .shirts-container .shirt .content.initial .infos {
    border-bottom: none;
}

main .shirts-container .shirt .infos .initial {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 auto;
}

main .shirts-container .shirt .infos .price {
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}

main .shirts-container .shirt .infos .price span.symbol {
    font-size: 1.6rem;
}

main .shirts-container .shirt .infos .price span.value {
    font-size: 4rem;
}

main .shirts-container .shirt svg.presensation-shirt {
    width: 25rem;
    height: 29rem;
}

main .shirts-container .shirt svg.shirt-svg {
    width: 18rem;
    height: 18rem;
}

main .shirts-container .shirt button.handle-reviews {
    font-size: 1.8rem;
    width: 100%;
    z-index: 997;
    padding: 1.25rem 0;
    background-color: var(--light);
    color: var(--primary);
    text-align: center;
    border: none;
    border-top: 2px solid var(--primary);
    cursor: pointer;
}

main .shirts-container .shirt .reviews {
    position: absolute;
    z-index: 996;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 30rem;
    background: var(--light);
    border: 2px solid var(--primary);
    padding: 2rem;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

main .shirts-container .shirt .reviews.active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

main .shirts-container .shirt .reviews .warning {
    max-width: 90%;
    font-size: 1.6rem;
    color: var(--gray);
}

main .shirts-container .shirt .reviews .content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 2rem;
}

main .shirts-container .shirt .reviews .comments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 80%;
    overflow-y: auto;
    padding: 2rem 0;
}

main .shirts-container .shirt .reviews .comments::-webkit-scrollbar {
    width: .4rem;
}

main .shirts-container .shirt .reviews .comments::-webkit-scrollbar-track {
    background: var(--light);
}
  
main .shirts-container .shirt .reviews .comments::-webkit-scrollbar-thumb {
    background: var(--primary);
}

main .shirts-container .shirt .reviews .comments::-webkit-scrollbar-thumb:hover {
    background: var(--gray);
}

main .shirts-container .shirt .reviews .comments .comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
    padding-bottom: 1.8rem;
    border-bottom: 2px solid var(--primary);
}

main .shirts-container .shirt .reviews .comments .comment .username {
    font-size: 1.8rem;
    font-weight: 700;
}

main .shirts-container .shirt .reviews .comments .comment .message {
    font-size: 1.6rem;
}

main .shirts-container .shirt .reviews .comments .comment .username,
main .shirts-container .shirt .reviews .comments .comment .message {
    color: var(--primary);
}

/* Saiba mais modal */
main #saiba-mais {
    position: fixed;
    z-index: 998;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    bottom: -200vh;
}

main #saiba-mais.active {
    bottom: 0vh;
}

main #saiba-mais .content {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    max-height: 100vh;
    overflow: scroll;
    color: var(--primary);
    background: var(--light);
    border: 2px solid var(--primary);
}

main #saiba-mais .content .body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.6rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 6rem 4rem;
}

main #saiba-mais .content .body .presentation-text {
    font-size: 2rem;
    line-height: 2.8rem;
    color: var(--primary);
}

main #saiba-mais .content .body .presentation-text strong {
    font-weight: 700;
}

main #saiba-mais .content .body .warning-text {
    font-size: 1.4rem;
    color: var(--gray);
}
/* Saiba mais modal */

.main-footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 0;
    position: absolute;
    left: 0;
    bottom: 0;
}

#splash-screen {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#splash-screen #splash-right, #splash-screen #splash-left{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: 3px solid var(--primary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    background-color: var(--light);
    position: absolute;
    width: 50vw;
    height: 100vh;
}

#splash-screen #splash-right{
    top: 0;
    left: 0;
}

#splash-screen #splash-left{
    top: 0;
    right: 0;
}

#splash-screen #splash-right .handle {
    width: 2rem;
    height: 10rem;
    border: 3px solid var(--primary);
    margin-left: 70%;
}

#splash-screen #splash-left .handle {
    width: 2rem;
    height: 10rem;
    border: 3px solid var(--primary);
    margin-right: 70%;
}