.wrapper {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar{
    display: none;
}

.main-header {
    padding: 2rem 0;
}

.main-header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-header .container .brand {
    width: 100%;
    max-width: 12rem;
    height: auto;
}

.main-header .container .cta {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--primary);
}

.main-footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    padding: 2rem 0;
    left: 0;
    bottom: 0;
}

.main-footer .blablalab-logo {
    width: 10rem;
    height: 6rem;
    background-image: url('../assets/blablalab.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    padding: 7.5rem 0;
}

main .shirts-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

main .shirts-container .line {
    position: absolute;
    top: 1.4rem;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--primary);
}

main .shirts-container .shirts {
    position: relative;
    left: 0;
    margin-left: var(--margin-middle-shirts);
    min-width: 100%;
    min-height: 30rem;
    -webkit-transition: left .1s;
    -moz-transition: left .1s;
    -o-transition: left .1s;
    transition: left .1s;
}

main .shirts-container .shirts .line {
    position: absolute;
    top: 1.4rem;
    left: 0;
    width: 100%;
    height: 3px;
    top: 0;
}

main .shirts-container .shirts .shirt {
    position: absolute;
}

main .shirts-container .shirts .shirt svg {
    width: 30rem;
    height: 30rem;
}

main .shirts-info {
    text-align: center;
    width: 100%;
}

main .shirts-info svg {
    padding: 1rem 0;
}

main .shirts-info .initial-text {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding: 1.5rem 0;
    color: var(--primary);
}

main .shirts-info .initial-text .warning {
    font-size: 1.8rem;
}

main .shirts-info .initial-text .title {
    font-size: 3.2rem;
}

main .shirts-info .initial-text .title strong{
    font-weight: bold;
}

main .shirts-info .container {
    display: flex;
    flex-wrap: nowrap;
    gap: .5rem;
    align-items: center;
    width: 100%;
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
    margin-top: 1.2em;
    overflow-x: auto;
}

main .shirts-info .shirt-info {
    min-width: 20rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--gray);
}

main .shirts-info .shirt-info.active,
main .shirts-info .shirt-info.active-disabled {
    display: flex;
}

main .shirts-info .shirt-info.active {
    color: var(--primary);
}

main #saiba-mais {
    width: 40%;
    text-align: center;
    align-self: center;
    margin-left: 30%;
    height: 50vh;
    z-index: 99999999;
    position: fixed;
    background-color: var(--light);
    color: var(--primary);
    border: 2px solid var(--primary);
    transition: all 2s ease-in-out;
    bottom: -55vh;
}

main #saiba-mais.active{
    bottom: 20vh;
}

main #saiba-mais #saiba-mais-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

main #saiba-mais #close{
   padding: .5em;
   border-bottom: 2px solid var(--primary);
   border-left: 2px solid var(--primary);
   font-size: 1.3em;
}

#splash-screen {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
}

#splash-screen #splash-right, #splash-screen #splash-left{
    flex: 1;
    border: 3px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s ease-in-out;
    background-color: white;
    position: absolute;
    width: 50vw;
    height: 100vh;
}

#splash-screen #splash-right{
    top: 0;
    left: 0;
}

#splash-screen #splash-left{
    top: 0;
    right: 0;
}

#splash-screen #splash-right .handle {
    width: 20px;
    height: 100px;
    border: 3px solid var(--primary);
    margin-left: 70%;
}

#splash-screen #splash-left .handle {
    width: 20px;
    height: 100px;
    border: 3px solid var(--primary);
    margin-right: 70%;
}