@media screen and (max-width: 380px) {
    .main-header .container .menu .menu-item svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    main .question {
        padding: 4rem 0;
    }

    main .question .title {
        font-size: 2.8rem;
    }

    main .shirts-container .shirt .header {
        font-size: 1.8rem;
        width: 100%;
    }
    
    main .shirts-container .shirt .header button {
        font-size: 1.4rem;
        border: none;
        background: none;
    }
    
    main .shirts-container .shirt .infos {
        gap: 1rem;
        height: 4rem;
    }
    
    main .shirts-container .shirt .infos .initial {
        font-size: 1.6rem;
    }
    
    main .shirts-container .shirt .infos .brand {
        font-size: 1.8rem;
    }
    
    main .shirts-container .shirt .infos .price {
        font-size: 1.4rem;
    }
    
    main .shirts-container .shirt .infos .price span.value {
        font-size: 2.4rem;
    }

    main .shirts-container .shirt svg.presensation-shirt {
        width: 25rem;
        height: 28.5rem;
    }

    main #saiba-mais #close {
        font-size: 1.6rem;
        padding: 1.2rem;
    }

    main #saiba-mais .content .body {
        padding: 3.5rem;
    }

    main #saiba-mais .content .body .presentation-text {
        font-size: 1.8rem;
    }

    .main-footer {
        padding: 1rem 0;
    }
}

@media screen and (min-width: 768px) {
    .container {
        padding: 1rem 4rem;
    }

    .main-header {
        z-index: 999;
    }

    .main-header .container .brand {
        width: 100%;
        max-width: 15rem;
        height: auto;
    }

    .main-header .container .menu .menu-item {
        padding: .8rem 1rem;
    }

    .main-header .container .menu .menu-item svg {
        width: 2.4rem;
        height: 2.4rem;
    }

    main .question {
        padding: 6rem 0;
    }

    main .question .title {
        font-size: 4rem;
    }
    
    main .shirts-container .item-space {
        margin-right: calc(50vw - 22rem);
    }

    main .shirts-container .shirt,
    main .shirts-container .shirt .content .body,
    main .shirts-container .shirt .header,
    main .shirts-container .shirt .reviews {
        max-width: 100%;
    }
    
    main .shirts-container .shirt .header {
        font-size: 2.8rem;
    }

    main .shirts-container .shirt .header .brand {
        font-size: 3rem;
    }

    main .shirts-container .shirt .header button {
        font-size: 2.6rem;
    }

    main .shirts-container .shirt .infos .price span.symbol {
        font-size: 2rem;
    }
    
    main .shirts-container .shirt .infos .price span.value {
        font-size: 3.4rem;
    }

    main .shirts-container .shirt svg.shirt-svg {
        width: 28rem;
        height: 28rem;
    }

    main .shirts-container .shirt svg.shirt-svg {
        width: 20rem;
        height: 20rem;
    }

    main .shirts-container .shirt svg.presensation-shirt {
        width: 22rem;
        height: 32rem;
    }

    main .shirts-container .shirt button.handle-reviews:hover {
        background-color: var(--primary);
        color: var(--light);
    }

    main .shirts-container .shirt .reviews .warning {
        max-width: 35rem;
        font-size: 1.8rem;
    }

    /* .main-footer {
        position: absolute;
        left: 0;
        bottom: 0;
    } */

    main #saiba-mais .content {
        min-width: 60rem;
        max-width: 60rem;
        min-height: 55vh;
    }
}

@media screen and (min-width: 1024px) {
    main .shirts-container .shirt svg.presensation-shirt {
        width: 25rem;
        height: 37.5rem;
    }

    main .shirts-container .shirt svg.shirt-svg {
        width: 26rem;
        height: 26rem;
    }

    main .shirts-container .shirt .header .brand {
        padding: 0 2.5rem;
    }

    .main-footer .blablalab-logo:hover {
        filter: brightness(10%)
    }
}

/* Height Responsive */
@media screen and (min-width: 768px) and (max-height: 800px) {
    .main-header {
        z-index: 998;
    }

    main .question {
        padding: 4rem 0;
    }

    main .question .title {
        font-size: 2.8rem;
    }

    main .shirts-container .shirt {
        min-width: auto;
        max-width: 28rem;
    }

    main .shirts-container .shirt .header {
        font-size: 1.8rem;
    }

    main .shirts-container .shirt .header .order-id {
        padding: .5rem 1rem;
    }

    main .shirts-container .shirt .header .brand {
        font-size: 1.8rem;
    }

    main .shirts-container .shirt .infos {
        height: 3.5rem;
    }

    main .shirts-container .shirt .infos .initial {
        font-size: 1.5rem;
    }

    main .shirts-container .shirt .infos .price span.value {
        font-size: 1.8rem;
    }

    main .shirts-container .shirt button.handle-reviews {
        font-size: 1.5rem;
    }
    
    main .shirts-container .shirt svg.shirt-svg {
        width: 20rem;
        height: 20rem;
    }

    main .shirts-container .shirt svg.presensation-shirt {
        width: 20rem;
        height: 28rem;
    }

    main #saiba-mais .content {
        min-width: 100%;
        min-height: 100%;
    }

    .main-footer {
        padding: 0;
    }
}